{% extends "layout.html" %}
{% block content %}
    <div class="container my-4">
        <div class="row featurette d-flex justify-content-center align-items-center">
            <div class="col-md-7">
                <h2 class="featurette-heading">Company History <span class="text-muted">We started AIR_ADDA in 1877</span></h2>
                <p class="lead">AIR_ADDA is a young and dynamic airline that was founded in 1877.
The airline's vision is to become the preferred carrier in the region by offering quality service, 
competitive prices, and a seamless travel experience to its customers. Since its inception, AIR_ADDA has expanded
its network and fleet, connecting multiple destinations and providing travel solutions for both leisure and business
 travelers. With a focus on innovation, technology, and customer satisfaction, AIR_ADDA continues to grow and evolve,
  establishing itself as a leading player in the aviation industry.</p>
            </div>
            <div class="col-md-5">
                <img class="img-fluid" src="\static\g1o1.jpg" alt="">
                 
            </div>
        </div>
        <div class="row featurette d-flex justify-content-center align-items-center">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading">Mission and Values <span class="text-muted">Some Ideals that Achived</span></h2>
                <p class="lead">AIR_ADDA is committed to providing a safe, reliable, and affordable travel experience
 to its passengers. The airline's mission is to connect people, places, and cultures through seamless travel solutions,
while delivering exceptional customer service and value. AIR_ADDA believes in transparency, integrity, and ethical 
practices, and strives to create a positive impact on the environment and the communities it serves. The airline
values its employees, recognizing that their passion, dedication, and expertise are critical to the success of the 
 airline. AIR_ADDA is committed to continuous improvement, innovation, and excellence, and is dedicated to delivering a 
travel experience that exceeds customer expectations.</p>
            </div>
            <div class="col-md-5 order-md-1">
                <img class="img-fluid" src="\static\g2.jpg" alt="">
                 
            </div>
        </div>
        <div class="row featurette d-flex justify-content-center align-items-center">
            <div class="col-md-7">
                <h2 class="featurette-heading">Awards and Recognitions <span class="text-muted">As a leader within the aviation industry,</span></h2>
                <p class="lead">AIR_ADDA has been recognized for its commitment to excellence, safety,
 and customer service. The airline has received several awards and accolades from industry associations and
  organizations, recognizing its dedication to providing a superior travel experience to its passengers. 
  Some of the awards and recognitions received by AIR_ADDA include "Best Airline 2021 & 2022".
   These achievements reflect the airline's focus on continuous improvement, innovation, and customer satisfaction. 
   AIR_ADDA is proud to have received these accolades and remains committed to delivering the highest standards of
    safety, quality, and service in the industry.</p>
            </div>
            <div class="col-md-5">
                <img class="img-fluid" src="\static\g3.jpg" alt="">
                 
            </div>
        </div>
    </div>

{% endblock %}