{% extends "layout.html" %}
{% block content %}
  <!-- slider -->
  <div class="op">
    <div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="\static\t1o1.jpg"  height="500px" width="1600px" class="d-block w-100" alt="...">
                <!-- <div class="carousel-caption d-none d-md-block">
                    <h2>Welcome to iCoder</h2>
                    <p></p>
                    <button class="btn btn-danger"></button>
                    <button class="btn btn-primary"></button>
                    <button class="btn btn-success"></button>
                </div> -->
            </div>
            <div class="carousel-item">
                <img src="\static\t2.jpg" height="500px" width="1600px" class="d-block w-100" alt="...">
                <!-- <div class="carousel-caption d-none d-md-block">
                    <h2></h2>
                    <p></p>
                    <button class="btn btn-danger"></button>
                    <button class="btn btn-primary"></button>
                    <button class="btn btn-success"></button>
                </div> -->
            </div>
            <div class="carousel-item">
                <img src="\static\t3o1.jpg"  height="500px" width="1600px" class="d-block w-100" alt="...">
                <!-- <div class="carousel-caption d-none d-md-block">
                    <h2>Award winning Blog</h2>
                    <p></p>
                    <button class="btn btn-danger"></button>
                    <button class="btn btn-primary"></button>
                    <button class="btn btn-success"></button>
                </div> -->
            </div>
        </div>
    </div>


<!-- cards -->

    <div class="container my-4">
        <div class="row mb-2">
            <div class="col-md-6">
              <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                  <strong class="d-inline-block mb-2 text-primary"></strong>
                  <h3 class="mb-0 text-primary">Reason to choose AIR_AADA </h3>
                  <!-- <div class="mb-1 text-muted">Nov 12</div> -->
                  <p class="card-text mb-auto">We provide high stndard service,comfort, as well as sefety.We are one of the best accessibile airline in the world</p>
                  <a href="#" class="stretched-link">Continue reading</a>
                </div>
                <div class="col-auto d-none d-lg-block">
                  <img class="bd-placeholder-img" width="200" height="250" src="https://source.unsplash.com/500x700/?airplane wings" alt="">
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                  <strong class="d-inline-block mb-2 text-success"></strong>
                  <h3 class="mb-0 text-success">COVID-19 TRAVEL ADVISORIES</h3>
                  <!-- <div class="mb-1 text-muted">Nov 11</div> -->
                  <p class="mb-auto">1.Proof of vaccination 
                    2.Mandatory quarantine upon arrival.
                    3.Mask-wearing requirements.
                   </p>
                  <a href="#" class="stretched-link">Continue reading</a>
                </div>
                <div class="col-auto d-none d-lg-block">
                    <img class="bd-placeholder-img" width="200" height="250" src="https://source.unsplash.com/500x700/?airline" alt="">

                </div>
              </div>
            </div>
          </div>
        <div class="row mb-2">
            <div class="col-md-6">
              <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                  <strong class="d-inline-block mb-2 text-danger"></strong>
                  <h3 class="mb-0 text-danger">ESSENTIAL TRAVEL REQUIREMENTS</h3>
                  <!-- <div class="mb-1 text-muted">Nov 12</div> -->
                  <p class="card-text mb-auto">1.Valid Passport 2.Visa 3.Travel Insurance 4.Proof of Accommodation 5.Transportation 6.Currency</p>
                  <a href="#" class="stretched-link">Continue reading</a>
                </div>
                <div class="col-auto d-none d-lg-block">
                  <img class="bd-placeholder-img" width="200" height="250" src="https://source.unsplash.com/500x700/?airport runway" alt="">
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                  <strong class="d-inline-block mb-2 text-warning"></strong>
                  <h3 class="mb-0 text-warning">In-flight Services</h3>
                  <!-- <div class="mb-1 text-muted">Nov 11</div> -->
                  <p class="mb-auto">1.Food and Beverages
                    2. In-flight Entertainment
                    3.Wi-Fi
                    4.Seat Comfort
                    5.Duty-free Shopping
                    6.On-board Amenities</p>
                  <a href="#" class="stretched-link">Continue reading</a>
                </div>
                <div class="col-auto d-none d-lg-block">
                    <img class="bd-placeholder-img" width="200" height="250" src="https://source.unsplash.com/500x700/?airport" alt="">

                </div>
              </div>
            </div>
          </div>
    </div>


  </div>
{% endblock %}